name: test5

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test5:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: powershell
        run: ./1.build.ps1 test
